@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Kooka-light-expanded'; 
  src: url('./assets/fonts/kooka-light-expanded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Regular'; 
  src: url('./assets/fonts/NeueMachina-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Ultrabold'; 
  src: url('./assets/fonts/NeueMachina-Ultrabold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  background-color: #eff1f3;
  


  /* Color variables */
  --primary-color: #eff1f3;       /* Light grey*/
  --secondary-color: #8290f0;  
  --accent-color: #e6affc;       
  --text-color: BLACK;          
  --background-color: #f8f9fa;    
  --primary-gradient: linear-gradient(to right, #d9d9d9, #96a3fa);
 
 

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h1{
  font-family:"Kooka-light-expanded",
}

p{
  font-size: 20px;
}

.app-features p {
  margin-left: 0.75em;
  text-indent: -0.75em; /* Pulls back the first line so the bullet stays in place */
}

.container{
 max-width: 100%;
 padding-left:3%;
 padding-right: 3%;
}

/* .container {
  max-width: 1500px; 
  max-height: 1000px;
  margin: 0 auto; 
  padding-bottom:60px;
} */

.button-grey{
  background-color: var(--background-color-dark);
  border: solid 4px;
  font:bolder;
  
}

/*---------NAVBAR--------*/
.contact-btn:hover{
background-color: #8290f0;
}
.nav-bar{
  background-color: #d5d8db;
}
@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.pop-out {
  animation: popOut 0.5s ease-out forwards;
}


/*-------HERO SECTION---------*/

.best-title {
  font-family: "Kooka-light-expanded"; /* Use your custom font */
  font-size: 20vw;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 36px;
}

.hero-section {
  position: relative;
  height: 100vh; /* Full viewport height for the hero */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5d8db;
  text-align: center;
  overflow: hidden; /* Ensures no overflow during animation */
}

.circular-text-container {
  position: absolute;
  bottom: 90px; /* Position it in the bottom-right corner */
  left: 40px;
  width: 80px;
 
}

.circular-text-svg {
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: rotate 6s infinite linear; /* Rotate the circular text */
  fill: none; /* Default was black */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}



text {
  /* font-size: 0.95rem; */
  font-weight: bold;
  letter-spacing: 2px;
  fill: #333;
}

/* Animation additions */

/* Name reveal animation */
.name-reveal {
  animation: reveal-name 2s ease-in-out forwards;
}

@keyframes reveal-name {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Junior text styling */
.junior-text h2 {
  /* font-size: 4rem; */
  font-family: "Kooka-light-expanded";
  color: #333;
  text-align: center;
}



.hero-animation .hello-text {
  color: #333;
  /* font-size: 4rem; */
  font-family: "Kooka-light-expanded";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.name {
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 0.1em;
}

.hero-img {
  position: absolute;
  bottom: 0;
  width: 83.33%; 
  z-index: 1;
}

@media (min-width: 768px) {
  .hero-img {
    width: 50%; /*  medium screens */
  }
}

@media (min-width: 1024px) {
  .hero-img {
    width: 33.33%; /* large screens */
  }
}
/* Fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.name-reveal span {
  opacity: 0;
  display: inline-block;
  justify-items: center;
  animation: letterPop 0.5s forwards;
  color:#8290f0;
}

.surname span{
  display:inline-block;
  
}

/* Example keyframes for letter pop in */
@keyframes letterPop {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* Sliding down for Web Developer text */
.sliding-down {
  opacity: 0;
  transform: translateY(-100%);
  animation: slideDown 1.5s ease-out forwards;
}

/* Sliding up for Hero Image */
.sliding-up {
  opacity: 0;
  transform: translateY(100%);
  animation: slideUp 1.5s ease-out forwards;
}

/* Keyframe animation for sliding down */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframe animation for sliding up */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*-------TECNOLOGIES---------*/
.tech-title{
  margin-top: 3%;
  font-weight: bold;
  font-size:30px;
  text-align: start;
  font-family: "NeueMachina-Regular";
}
.container {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
}

.flip-card-front {
  background-color: var(--primary-color);
  z-index: 2;
}

.flip-card-back {
  background-color: var(--secondary-color);
  transform: rotateY(180deg);
  z-index: 1;}

  .flip-other{
    /* background-color: #e6affc; */
    background-color: #d5d8db;
  }

  @keyframes slow-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .slow-spin {
    animation: slow-spin 20s linear infinite;
  }

h3{
  font-size:30px;
}
  

/*--------PROJECT1--------*/

.projects-title{
  font-family: "NeueMachina-Regular";
  font-weight: bold;

}
.project-media {
  position: relative;
  width: 100%;

}

.project-img {
  transition: all 0.5s ease;
  
}

.project-img:hover {
  z-index: 30;
  transform: translate(0, 0) scale(1.1); /* Make the hovered image move and scale */
}

.project-img:not(:hover) {
  z-index: 10;
}


/*------MORE TEXT-------*/

/* Ensure the container spans the full width of the screen */
.carousel-container {
  width: 100vw;
 
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}




/* Style the scrolling text */
.carousel-text {
  font-family: "kooka-light-expanded";
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
 
  animation: scroll-text 200s linear infinite;
  letter-spacing: 0.1rem;
  color: #d5d8db;
  /* Repeat the text to ensure it fills the space */
  width: max-content; 
}

/* Keyframes for the scrolling animation */
@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/*CONTACT*/

.contact-section{
 
  margin-top: 3%;
  padding-top:3%;
}

/* Initial position off the screen for sliding in from the left */
.initial-position {
  opacity: 0;
  
}

/* Smooth sliding from the left for "Ready for" */
.slide-in-left {
  transform: translateX(-80%);
  animation: slideLeft 1.5s ease-out forwards;
}

/* Smooth sliding from the right for "New Adventures" */
.slide-in-right {
  transform: translateX(100%);
  animation: slideRight 2s ease-out forwards;
}

/* Animation keyframes for sliding from the left */
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation keyframes for sliding from the right */
@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Final position for "Ready for" */
.final-position-ready {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1.5s cubic-bezier(0.6, 0.05, 0.1, 0.9);
}

/* Final position for "New Adventures" with background image */
.final-position-adventures {
  opacity: 1;
  transform: translate(0, 0) scale(1.1);
  transition: all 2.5s cubic-bezier(0.6, 0.05, 0.1, 0.9); 
 
}

.ready-text{
  font-family: "NeueMachina-Regular";
  font-weight: bolder;
  padding-left: 2rem;
}

.bg-new-adventures {
 
  padding-right: 30px;
  /* padding-top:1.5rem; */
 
}

.text-animation-container{
  margin-top:5%;

}


/*contact section 2*/

.contact-info-section {
  display: flex;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  margin-top:5%;
  margin-bottom: 5%;
  border-radius: 3%;
  /* background-color: #d5d8db; */
  
}

.contact-icon-column {
  background-color:#8796f8;
  position: relative;
  padding-top: 40px;
  padding-bottom:40px;
  border-radius: 3%;
}

.contact-title {
  color: #e5e7e8; 
  font-size: 3rem;
  font-weight: 900;
}

.triangle-left {
  position: absolute;
  top: 10%;
  left: -40px;
  width: 0;
  height: 0;
  border-top: 21px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 40px solid #8796f8;
}



.contact-info p {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: black;
  margin: 10px 0;
}

.contact-info p svg {
  margin-right: 10px;
}

/*------ABOUT--------*/

/*ABOUT*/
/* .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
} */

/* .about-grid {
  display: grid;
   height: 100vh; 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  gap: 1rem;

  padding: 1rem;
  margin-top:6rem;
  
} */


.title {
  font-family:"NeueMachina-UltraBold";
  /* grid-column: 1 / 5;
  grid-row: 1 / 2; */
  color: #96a3fa;
  font-size: 4.2rem;

  line-height: 1;
  justify-self: end;
  align-self: end;
}

.intro-text {
  /* grid-column: 5 / 13;
  grid-row: 1/ 2; */
  font-size: 1.5rem;
  font-weight: bold;
 align-self: end;
}


.icons{
  width: 4.1rem;
}


/* .icons {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column:1/5;
 grid-row:2/6; 
}  */

.icon1 {
/* grid-column:2/3;
grid-row: 2/2; */
/* margin-top: 2.5rem; */
align-self: center;
/* width: 7rem; */



}

.icon2 {
  /* grid-column: 4/4 ;
  grid-row: 2/2; */
  align-self: end;
  margin-right: 10px;
  /* width: 7rem; */
  
}

.icon3 {
  /* grid-column: 3/3;
  grid-row:2/2; */
  /* width: 7rem; */
  justify-self: end;
}


/* .icon1, .icon2, .icon3 {
  width: 100px;
  height: auto;
  

} */

.skills {
  /* grid-column: 5 / 9; */
  /* grid-row: 2 / 8; */
  font-size: 1.25rem;
  line-height: 1.5;
 
}

.footer-text {
  /* grid-column: 3 / 10;
  grid-row: 3 / 10; */
  text-align: end;
  font-size: 1rem;
  margin-top: 1rem;
}


